%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Elena', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Log Out', logout_path